# Binary directories
bin/
bin-int/

# VS Code directories
.vscode/

# Visual Studio directories
.vs/
*.code-workspace
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln
*.VC.db
*.VC.VC.opendb
*.vcxproj
